extends layout
block content
    section.text-center.startup.text-center.text-white
        .container
          p.text-uppercase ALumnus Portal With perfect space
          |         
          h1 Connect Alumnus Share Knowledge
          |         
          p.hero-subtitle To improove Connection between th ealumni and the students . Help to improove interaction between the students of various institute Improve Interaction between the students of various institute .Improves the transfer of knowledge between different type of students
          Impro
            
          |         
          a.button.button-outline(href='/users/get_started') Get Started
    |   
    br
    |   
    br
    |   
    .row(style='margin:0;')
      .col-lg-4.col-md-12.col-sm-12
        .circle1
          i.fa.fa-users.fa-2x(style='position:relative;top:2rem;')
        |       
        br
        |       
        p
          | Alumnus:
          span.p-light  123
      |     
      .col-lg-4.col-md-12.col-sm-12
        .circle2
          i.fa.fa-trophy.fa-2x(style='position:relative;top:2rem;')
        |       
        br
        |       
        p
          | Special Achievements:
          span.p-light  123
      |     
      .col-lg-4.col-md-12.col-sm-12
        .circle3
          i.fa.fa-university.fa-2x(style='position:relative;top:2rem;')
        |       
        br
        |       
        p
          | Blocks:
          span.p-light  123
    |   
    footer.footer-bs
      h3 Alumnus Portal System
      |     
      br
      |     
      .row
        .col-md-3.footer-nav.animated.fadeInUp
          h3 ABOUT
          |         
          ul.pages
            li
              a(href='#') Privacy Policy
            |           
            li
              a(href='#') Terms of Service
            |           
            li
              a(href='#') Partners &amp; Sponsers 
            |           
            li
              a(href='#') Teacher and Alumini
            |           
            li
              a(href='#') What we do
        |       
        .col-md-3.footer-social.animated.fadeInDown
          h3 Follow Us
          |         
          ul
            li
              a(href='#')
                span
                  i.fa.fa-facebook
                  | Facebook
            |           
            li
              a(href='#')
                span
                  i.fa.fa-twitter
                  | Twitter
            |           
            li
              a(href='#')
                span
                  i.fa.fa-instagram
                  | Instagram
            |           
            li
              a(href='#')
                span
                  i.fa.fa-linkedin
                  | Linkedin
        |       
        .col-md-3.footer-nav.animated.fadeInUp
        |       
        .col-md-3.footer-nav.animated.fadeInUp
        |       
        p
          | Privacy Policy | Terms Of Use | &copy; 2019 Alumnus Managment Portal Created By The Abhinandan &amp; Ayush Foundation
        |       
        p Alumnus management Portal is a project started for hack n cody hackathon 2019 
    |   
    script(src='https://use.fontawesome.com/576f6a076e.js')
