//- extends layout

//- block content
//-   .container
//-      h1 Login
//-      form(method='POST', action='/users/login')
//-        #form-group
//-          label Username:
//-          input.form-control(name='username',type='text')
//-        #form-group
//-          label Password:
//-          input.form-control(name='password',type='password')
//-        br
//-        input.btn.btn-primary(type='submit',value='Submit')
//-      p Don't have an account? 
//-        a(href='/users/register')  Sign Up Now!

doctype html
head
  meta(charset='utf-8')
  title Login
  link(rel='stylesheet' href='../../css/style.css')
  link(rel='stylesheet' href='../../css/login.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
br
.container
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}  
h1 Login!
.login
  form(method='post' action='/users/login')
    input(type='text' name='username' placeholder='Username' required='required')
    input(type='password' name='password' placeholder='Password' required='required')
    button.btn.btn-primary.btn-block.btn-large(type='submit') Let me in.
    .agileits-top
      p
        | Don&apos;t have an Account? 
        a(href='/users/register')  Register Now!