//- extends layout

//- block content
//-   .container
//-      div.main-w3layouts.wrapper
//-       h1 Register
//-       form(method='POST', action='/users/register')
//-         #form-group
//-           label Name:
//-           input.form-control(name='name', type='text')
//-         #form-group
//-           label You are: 
//-           .select
//-               select#slct(name='slct')
//-                 option(selected='', disabled='') Choose an option
//-                 option(value='professor') Professor
//-                 option(value='student') Student 
//-                 option(value='alumni') Alumni           
//-         #form-group
//-           label Email:
//-           input.form-control(name='email', type='text')
//-         #form-group
//-          label Username:
//-          input.form-control(name='username',type='text')
//-         #form-group
//-          label Password:
//-          input.form-control(name='password',type='password',min='5')
//-         #form-group
//-          label Confirm:
//-          input.form-control(name='password2',type='password')
//-         #form-group
//-           label.anim 
//-           input(type="checkbox" required="")
//-           span   I Agree To The Terms & Conditions
             
//-         br
//-         input.btn.btn-primary(type='submit',value='Submit')
      
//-       p Have an account? 
//-        a(href='/users/login')  Login Now!
                
      
      doctype html
head

  title Register
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  script(type='application/x-javascript').
    addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
    window.scrollTo(0, 1);
    }
  // Custom Theme files
  link(href='../../css/login.css' rel='stylesheet' type='text/css' media='all')
  // //Custom Theme files
  // web font
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(href='//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i' rel='stylesheet')
  // //web font
// main
body
   .container
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}    
   .main-w3layouts.wrapper
     h1 Register!
     .main-agileinfo
       .agileits-top(style="padding:1rem")
         form(action='/users/register' method='post')
           .select
             select#slct(name='slct')
               option(selected='' disabled='') Choose an option
               option(value='professor') Professor
               option(value='student') Student
               option(value='alumni') Alumni
           br
           input.text.email(type='text' name='name' placeholder='Name' ) 
           input.text.email(type='email' name='email' placeholder='Email' )
           input.text.email(type='text' name='username' placeholder='Username' ) 
           input.text(type='password' name='password' placeholder='Password' minlength='3')
           input.text.w3lpass(type='password' name='password2' placeholder='Confirm Password'  minlength='3')
           .wthree-text
             label.anim
               input.checkbox(type='checkbox' required='')
               span I Agree To The Terms &amp; Conditions
             .clear  
           input(type='submit' value='SIGNUP')
           p| Have an account? 
             a(href='/users/login')  Login Now!
     ul.colorlib-bubbles
       li
       li
       li
       li
       li
       li
       li
       li
       li
       li
   // //main
      
   